/* RecommendationCard.css */

.recommendation-card {
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin: 15px;
  width: 150px;
}

.recommendation-content {
  position: relative;
  text-align: center;
}

.recommendation-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.recommendation-content img:hover {
  transform: scale(1.05);
}

.recommendation-content h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.2;
}

.recommendation-content .rating-badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #2ecc71;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendation-content .rating-badge.low-rating {
  background-color: #e74c3c;
}

.recommendation-content .rating-badge.medium-rating {
  background-color: #FFE353;
}

