/* MovieCard.css */

.card-img-top {
  width: 100%;
  height: 400px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.875rem;
  color: #6c757d;
}

.btn-link {
  font-size: 1.5rem;
}

.progress-circle {
  position: relative;
  display: inline-block;
  width: 50px; /* Adjusted to match the smaller SVG */
  height: 50px; /* Adjusted to match the smaller SVG */
}

.progress-ring {
  transform: rotate(-90deg);
  overflow: visible;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(90deg);
  transform-origin: center;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem; /* Smaller text to fit the smaller circle */
  font-weight: bold;
  color: #000000;
}
